<html>
<head>
    <title>Actividad 1</title>
    <link href="~/Style.css" rel="stylesheet" />
</head>
<body>
    <h1 class="x">Actividad 1</h1>
    <img class="logo" src="~/img/logo.jpg" />

    @RenderBody()

    <footer>
        <div class="x">
            <p>Programación Web - Unidad 1</p>
        </div>
    </footer>
</body>
</html>